.bank_list{
  padding-top: .5rem;
}
.bank_list > li{
  width: 10rem;
  height: 3.4rem;
  margin: 0 auto .5rem;
  padding: .2rem .4rem;
  background-color: #fff;
  border-radius: .1rem;
  font-size: .5rem;
  box-shadow: 0 1px 1px rgba(6,0,1,.5);
}
.bank_list > li > h1{
  height: .9rem;
  line-height: .9rem;
  font-weight: normal;
  font-size: .5rem;
}
.bank_list > li > h1 > img{
  display: inline-block;
  height: .9rem;
  width: .9rem;
  vertical-align: middle;
  margin-right: .34rem
}
.bank_list > li > div{
  margin-top: .8rem;
}
.bank_list > .add_card{
  line-height: 3rem;
}
.bank_list > .add_card > a{
  color: #4280f6;
}
.icon_add{
  vertical-align: middle;
  display: inline-block;
  height: .8rem;
  width: .8rem;
  background: url(../images/add.png) no-repeat center;
  background-size: contain;
}
