p,h1,h2,h3,h4,h5,h6,pre,input,dd,ul,dt,dl,ol,figure,body,input,article{
    margin: 0;padding: 0;list-style: none;border: none;}
img{border: none;display: block;margin: 0;padding: 0;}
input,a{text-decoration: none;}
*{box-sizing: border-box;}
a:active{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html{ font-size: 100px}

body{
    position: relative;
}
/*头部开始*/
.jf-header{
    width: 100%;height: 1.1rem;
    z-index: 9999;
    padding-left: 0.42rem;
    padding-right: 0.42rem;
    background: #252B35;
}
.jf-header-box{
    width: 100%;height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.jf-header-box>p:first-child{
    width: 0.44rem;height: 0.35rem;
    margin-top: 0.44rem;
}
.jf-header-box>p:first-child>a{
    width: 0.44rem;height: 0.35rem;
}
.jf-header-box>p:first-child>a>img{
    height: 0.35rem;
}
.jf-header-box>p:nth-child(2){
    height: 0.54rem;
    font-size: 0.52rem;
    color: #fff;
    line-height: 1.1rem;
}
.jf-header-box>p:nth-child(3){
    font-size: 0.28rem;color: #fff;
    margin-top: 0.34rem;
}
.jf-header-box>p:nth-child(3)>img{
    width: 0.4rem;height: 0.45rem;
    z-index: 9999;
}

.jf-header-self{
    width: 100%;height: 0rem;
    background: #fff;
    position: absolute;
    top:1.1rem;
    z-index: 999;
    transition: all 0.5s;
    padding: 0 1.24rem 0 1.24rem;
    overflow: hidden;
}
.jf-self-id{
    width: 100%;height: 2.4rem;
    color: #999;font-size: 0.36rem;
    line-height: 2.4rem;text-align: center;
    border-bottom: 1px solid #ccc;
}
.jf-header-self>p{
    height: 1.2rem;line-height: 1.2rem;
    font-size: 0.36rem;color: #006CC8;
    border-bottom: 1px solid #ccc;
}
.jf-header-self>p>a{
    color: #006CC8;
}
.jf-header-self>p>img{
    width: 0.5rem;height: 0.5rem;
    display: inline-block;
    margin-right: 0.2rem;
    vertical-align: middle;
}
.jf-mengban{
    width: 100%;height: 20rem;
    background: rgba(0,0,0,0.5);
    z-index: 888;
    position: absolute;
    top:1.1rem;
    display: none;
}

.jf-header-hidden{
    width: 100%;height: 0rem;
    background: #000;
    position: absolute;
    top:1.1rem;
    z-index: 999;
    overflow: hidden;
    transition: all 0.5s;
    padding: 0 1rem 0 1rem;
}
.jf-header-hidden>p:first-child{
    margin-top: 2rem;
}
.jf-header-hidden>p{
    width: 100%;height: auto;
    padding: 0.4rem 0 0.2rem 0;
    font-size: 0.46rem;color: #fff;
    border-bottom: 1px solid #ccc;
}
.jf-header-hidden>p>a{
    color: #fff;
}

/*新闻内容*/
.jf-news-top{
    padding-left: 0.38rem;
    height: 0.8rem;
    background: #ccc;
}
.jf-news-top>p:nth-child(1){
    color: #777;font-size: 0.3rem;
    line-height: 0.8rem;
    float: left;
}
.jf-news-top>p:nth-child(2){
    color: #777;font-size: 0.3rem;
    line-height: 0.8rem;
    margin-left: 0.5rem;
    float: left;
}
.jf-news-title{
    color: #000;font-size: 0.6rem;
    text-align: center;margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.jf-news-img{
    width: 8.4rem;
    margin: 0 auto;
    margin-top: 0.5rem;
}
.jf-news-img>img{
    width: 8.4rem;
}
.jf-news-nr{
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    color: #777;font-size: 0.3rem;
    line-height: 0.6rem;
}

@media screen and (min-width: 320px){
    html{ font-size: 29.63px}
}
@media screen and (min-width: 360px){
    html{ font-size: 33.33px}
}
@media screen and (min-width:375px){
    html{ font-size: 34.72px}
}
@media screen and (min-width:412px){
    html{font-size: 38.148px;}
}
@media screen and (min-width:414px){
    html{font-size: 38.333333px;}
}
@media screen and (min-width:768px){
    html{font-size: 71.11111px;}
}
@media screen and (min-width:1024px){
    html{font-size: 94.815px;}
}