/*banner*/
.banner {
  position: relative;
  height: 598px;
  width: 100%;
}
.banner > .banner-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 598px;
  width: 100%;
 display: none; 
}
.banner > .banner-item > a {
  width: 100%;
  height: 598px;
  display: block;
  overflow: hidden;
}
.banner > .banner-item > a > img {
  display: none; 
}
.banner > .banner_dl_room {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 40px;
  display: none;
}
.banner > .banner_dl_room > #banner_dl {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}
.banner > .banner_dl_room > #banner_dl > a {
  width: 63px;
  height: 4px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;
  margin: 0 10px;
}
.banner > .banner_dl_room > #banner_dl > a.cur {
  background: #fff;
}
header{
  position: absolute;
  width: 1200px;
  padding-top: 30px;
  line-height: 50px;
  left: 50%;
  transform:translate(-50%,0);
  -ms-transform:translate(-50%,0);  /* IE 9 */
  -moz-transform:translate(-50%,0);   /* Firefox */
  -webkit-transform:translate(-50%,0); /* Safari 和 Chrome */
  -o-transform:translate(-50%,0);   /* Opera */
}
header > .logo{
  vertical-align: middle;
  padding-left: 32px;
}
.nav > li{
  padding-left: 32px;
  font-size: 14px;
  color: #fff;
}
.nav > li > a{
  color:#fff;
  padding-left: 0;
  padding-right: 0
}
.nav > li > a:hover,.nav > li > a:focus{
  background-color: transparent;
}
.nav > li > a > span{
  color:#fff;
  padding-left: 32px;
}
.nav > li > .register_mobile{
  display: none
}
.register-box{
  float: right;
}
.register-box > a{
  font-size: 14px;
  color: #fff;
}
.register-box > .login{
  padding: 0 32px;
}
.register-box > .register_mobile{
  display: none;
}
.register-box  > span{
  visibility: hidden;
  color:#fff;
}
/*登录框*/
.login-box{
  position: absolute;
  right: 18%;
  width: 270px;
  height: 340px;
  padding: 22px 8px;
  background: rgba(153,174,187,.3);
  bottom: 65px;
  border-radius: 10px;
}
.login-box > p{
  font-size: 20px;
  color: #fff;
  padding-left: 2px;
  padding-bottom: 42px;
  font-weight: normal;
}
.login-box > input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: rgba(118,144,159,.3);
  margin-bottom: 24px;
  text-indent: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff
}
/* 使用webkit内核的浏览器 */
.login-box > input::-webkit-input-placeholder{
  color:#fff;
  font-size: 14px;
}
/* Firefox版本4-18 */
.login-box > input:-moz-placeholder{
  color:#fff;
  font-size: 14px;
}
/* Firefox版本19+ */
.login-box > input::-moz-placeholder{
  color:#fff;
  font-size: 14px;
}
/* IE浏览器 */
.login-box > input:-ms-input-placeholder{
  color:#fff;
  font-size: 14px;
}
.link-box{
  padding-left: 25px;
  padding-bottom: 48px;
}
.link-box > a{
  color: #fff;
  font-size: 12px;
}
.link-box > a:hover{
  color: #808cec;
}
.link-box > a.forget{
  float: right;
}
.link-box > a.register{
  float: left;
}
.button{
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: rgba(105,155,186,.8);
  font-size: 18px;
  color: #fff;
  text-align: center;
}

/*媒体查询*/
@media (max-width: 1200px){
  header {
    width: 100%;
  }
}
@media (min-width: 768px){
  header > .navbar-collapse{
    float: right;
  }
}
@media (max-width: 768px){
  .nav > li > a > span{
    display: none;
  }
  .nav>li{
    text-align: left;
  }
  .navbar-toggle {
      display: block;
      float:left;
  }
  .icon-bar{
     background: #fff;
  }
  header{
    text-align:center;
  }
  header > .logo{
    padding-left: 0;
  }
  .register-box > span{
    visibility: visible;
  }
  .register-box > .login{
    padding-right: 5px;
    padding-left: 5px;
  }
  .logo > img{
    height: 32px;
  }
  .register-box > .register_mobile{
    display: inline-block;
    padding: 0 15px 0 5px;
  }
  .login-box{
    display: none;
  }
}
