*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6,pre,input,dd,ul,dt,dl,ol,figure,body,input,article{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}
img{
	border: none;
	display: block;
	margin: 0;
	padding: 0;
}
a{
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
input,a{
	text-decoration: none;
}
/*顶部*/
header{
	height: 1.4rem;
	line-height: 1.4rem;
	width: 100%;
	background-color: #29b4ce;
	text-align: center;
	color: #fff;
	font-size: .52rem;
}
.back{
	position: absolute;
	left: .4rem;
	top: .45rem;
	background: url(../images/back.png) no-repeat center center;
	background-size: contain;
	width: .48rem;
	height: .48rem;
}
/*主体内容*/
.container{
	padding-bottom: 1.44rem;
	/*background: #f0efed;*/
}

/*底部菜单栏*/
.bottom-menu{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 1.44rem;
	width: 100%;
	box-shadow: 1px -1px 2px #ccc;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	background: #fff;
}
.bottom-menu > div{
	-webkit-flex: auto;
	flex: auto;
	text-align: center;
	flex: 1;
	font-size: .26rem;
	color: #666;
	height: .84rem;
	margin-top: .3rem;
	padding-top: .6rem;
}
.bottom-menu > .active{
	color: #29b4ce;
}
.home{
	border-right: .04rem solid #666;
	background: url(../images/home.png) no-repeat center top;
	background-size: .6rem;
}
.home.active{
	background: url(../images/home_active.png) no-repeat center top;
	background-size: .6rem;
}
.my{
	background: url(../images/my.png) no-repeat center top;
	background-size: .6rem;
}
.my.active{
	background: url(../images/my_active.png) no-repeat center top;
	background-size: .6rem;
}







/*媒体查询*/
@media screen and (min-width: 320px){
    html{ font-size: 29.63px}
}
@media screen and (min-width: 360px){
    html{ font-size: 33.333px}
}
@media screen and (min-width:375px){
    html{ font-size: 34.722px}
}
@media screen and (min-width:412px){
    html{font-size: 38.148px;}
}
@media screen and (min-width:414px){
    html{font-size: 38.333px;}
}
@media screen and (min-width:768px){
    html{font-size: 71.111px;}
}
@media screen and (min-width:992px){
    html{font-size: 91.852px;}
}
@media screen and (min-width:1080px){
    html{font-size: 100px;}
}