.banner{
  width: 10.8rem;
  height: 5.86rem;
  position: relative;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
}

.price_box{
  width: 10rem;
  height: 4.6rem;
  margin: 0 auto;
  margin-top: 0.4rem;
  padding: 0.2rem;
  box-shadow: 0 0 20px #eaa56f6b;
}
.price_box li{
  width: 100%;
  height: 1.4rem;
  line-height: 1.4rem;
}
.price_box li img{
  width: 0.6rem;
  height: 0.6rem;
  float: left;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}
.price_list{
  width: 8.4rem;
  height: 100%;
  float: left;
  padding: 0 0.3rem;
}
.price_list_bottom{
  border-bottom: 1px solid #ccc;
}
.price_list span:first-child{
  font-size: 0.3rem;
  color: #333;
}
.price_list span:last-child{
  font-size: 0.36rem;
  color: #000;
  float: right;s
}



.trade_spg_box{
  width: 10rem;
  height: 5.2rem;
  margin: 0.4rem auto;
  box-shadow: 0 0 20px #eaa56f6b;
}
.trade_content li:last-child{
  margin-bottom: 2rem;
}
.trade_title{
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  padding-left: 0.2rem;
  font-size: 0.4rem;
  color: #333;
  border-bottom: 1px solid #F8DCB1;
}
.trade_item{
  width: 2.54rem;
  height: auto;
  margin: 0.5rem 0 0 0.3rem;
  float: left;
}
.trade_item img{
  width: 2.54rem;
  height: 2.54rem;
  margin-bottom: 0.2rem;
}
.trade_item p{
  font-size: 0.4rem;
  color: 333;
  text-align: center;
}
.trade_spg_box button{
  width: 2.06rem;
  height: 1.04rem;
  background: #fff;
  border: 1px solid #FFC106;
  border-radius: 0.1rem;
  outline: none;
  float: right;
  margin-right: 0.94rem;
  margin-top: 1.55rem;
}










footer{
    width: 10.8rem;
    height: 1.48rem;
    background: #fff;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
}
footer span{
    float: left;
    width: 50%;
    padding-top: 0.2rem;
    position: relative;
}
footer span a{
    color: #333;
    width: 50%;
}
footer span:first-child:after{
   content: "";
   width: 2px;
   height: 1rem;
   background: #c8a165;
   position: absolute;
   right: 0;
   top: 0.25rem;
}
footer span a img{
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 auto;
    text-align: center;
}
footer span a p{
    margin-top: 0.1rem;
    text-align: center;
    font-size: 0.3rem;
}
.selected_self{
    color: #FFC518;
}