@import url(1.css);
p,h1,h2,h3,h4,h5,h6,pre,input,dd,ul,dt,dl,ol,figure,body,input,article{
    margin: 0;padding: 0;list-style: none;border: none;}
img{border: none;display: block;margin: 0;padding: 0;}
input,a{text-decoration: none;}
body{/*font-size: 12px;*/font-family:"Helvetica Neue","Helvetica";
background: #ffffff;position: relative;}
*{box-sizing: border-box;}
/*顶部*/
.top{
     width: 100%;height: 1.28rem;
     background: #29a6dc;position: relative; 
 }
 .fanhui{
    width: 0.44rem;height: 0.44rem;
    background: url(../images/1.png) no-repeat;
    background-size: cover;
    position: absolute;top: 0.68rem;left: 0.24rem;
 }
 /*中部内容*/
 .quanbu{
    width: 2.22rem;height: 0.39rem;
    margin-left:2.61rem;background:#29a6dc;
    border-radius: 0.18rem;float: left;
    color: #fff;font-size: 0.2rem;
    line-height: 0.39rem;text-align: center;
    position: relative;margin-bottom: 0.44rem;
 }
 .dian{
    width: 0.07rem;height: 0.07rem;
    border-radius: 50%;background:#fff;
    position: absolute;top: 0.18rem;left: 0.24rem;
 }
 .dian2{
    width: 0.07rem;height: 0.07rem;
    border-radius: 50%;background:#fff;
    position: absolute;top: 0.18rem;right: 0.24rem;
 }
  .shuping{
    width: 4rem;height: 0.58rem;
    margin-top: 0.36rem;margin-left: 0.48rem;
 }
 .pen2{
    width: 0.51rem;height: 0.48rem;
    background: url(../images/12.png) no-repeat;
    background-size: cover;float: left;
 }
 .pen3{
    width: 0.51rem;height: 0.48rem;
    background: url(../images/17.png) no-repeat;
    background-size: cover;float: left;
 }
 .pen4{
    width: 0.51rem;height: 0.48rem;
    background: url(../images/18.png) no-repeat;
    background-size: cover;float: left;
 }
 .shuoming{
    width: 2.45rem;height: 0.58rem;
    float: left;margin-left: 0.17rem;
 }
 .zxsp{
    height: 0.26rem;line-height: 0.26rem;
    color: #252525;font-size: 0.26rem;
 }
 .zxsp2{
    height: 0.14rem;line-height: 0.14rem;
    color: #252525;font-size: 0.14rem;
    margin-top: 0.15rem;
 }



  .diyizhang{
    width: 100%;height: 0.97rem;
    float: left;margin-top: 0.1rem;
    border-bottom: 0.02rem dotted #848484;
 }
 .diyizhang2{
    width: 100%;height: 0.97rem;margin-bottom: 0.65rem;
    float: left;margin-top: 0.2rem;
    border-bottom: 0.02rem dotted #848484;
 }
 .left-tu{
    width: 1.41rem;height: 0.87rem;
    background: url(../images/14.png) no-repeat;
    background-size: cover;float: left;
 }
 .right-zi-k{
    width: 6rem;height: 0.87rem;
    float: left;
 }
 .right-zi1{
    width: 100%;height: 0.22rem;font-size: 0.22rem;
    color: #000;line-height: 0.22rem;text-align: left;
    margin-bottom: 0.14rem;
 }
 .right-zi2{
    width: 100%;height: 0.16rem;font-size: 0.16rem;
    color: #505050;line-height: 0.16rem;text-align: left;
    margin-bottom: 0.19rem;
 }
 .xiaotu-k{
    width: 100%;height: 0.16rem;
 }
 .shijian-k{
    width: 0.85rem;height: 0.16rem;float: left;
    margin-right: 4.13rem;
 }
 .shijian-tu{
    width: 0.27rem;height: 100%;
    background: url(../images/15.png) no-repeat;
    background-size: cover;float: left;
 }
 .shijian-zi{
    width: 0.5rem;height: 0.16rem;float: left;
    color: #7f7f7f;font-size: 0.12rem;padding-left: 0.05rem;
    line-height: 0.16rem;text-align: left;
 }
 .chakan-k{
    width: 0.6rem;height: 0.16rem;float: left;
 }
 .shijian-tu2{
    width: 0.25rem;height: 100%;
    background: url(../images/16.png) no-repeat;
    background-size: cover;float: left;
 }
 .shijian-zi2{
    width: 0.35rem;height: 0.16rem;float: left;
    color: #7f7f7f;font-size: 0.12rem;padding-left: 0.05rem;
    line-height: 0.16rem;text-align: left;
 }


 .neirong-k{
    width: 6.87rem;height: 0.82rem;
    margin: 0 auto;margin-top: 4.6rem;
    border-radius: 0.1rem;position: relative;
    box-shadow: -0.03rem -0.03rem 0.05rem  0.05rem #eff4fc;
 }
 .neirong-k2{
    width: 6.87rem;height: 0.82rem;
    margin: 0 auto;
    border-radius: 0.1rem;position: relative;
    box-shadow: -0.03rem -0.03rem 0.05rem  0.05rem #eff4fc;
 }
 .qiuqiu1{
    width: 0.07rem;height: 0.07rem;
    background:#d8e637;border-radius: 50%;
    position: absolute;top: 0.16rem;left: 0.18rem;
 }
 .qiuqiu2{
    width: 0.07rem;height: 0.07rem;
    background:#f45e40;border-radius: 50%;
    position: absolute;top: 0.16rem;left: 0.3rem;
 }
 .ziji{
    width: 6rem;height: 0.82rem;
    position: absolute;left: 0.57rem;
    color: #666666;font-size: 0.2rem;
    line-height: 0.82rem;text-align: left;
    margin-bottom: 0.22rem;
 }
 .renlei-k{
    width: 6.87rem;height: 1.13rem;border-radius: 0.1rem;
    position: relative;margin: 0 auto;margin-top: 0.22rem;
    box-shadow: -0.03rem -0.03rem 0.05rem  0.05rem #eff4fc;
    margin-bottom: 0.5rem;
 }
 .qiuqiu1-1{
    width: 0.07rem;height: 0.07rem;
    background:#34bfdd;border-radius: 50%;
    position: absolute;top: 0.16rem;left: 0.18rem;
 }
 .qiuqiu2-2{
    width: 0.07rem;height: 0.07rem;
    background:#34dd5c;border-radius: 50%;
    position: absolute;top: 0.16rem;left: 0.3rem;
 }
 .ziji2{
    width: 6rem;height: 0.82rem;
    position: absolute;left: 0.57rem;
    color: #666666;font-size: 0.2rem;
    line-height: 0.35rem;text-align: left;
    margin-bottom: 0.22rem;
 }

 .xiangqing{
    width: 1.5rem;height: 0.53rem;
    position: absolute;top: 0.6rem;left: 5.1rem;
    position: relative;
 }
 .shijian{
    width: 0.36rem;height: 0.35rem;
    background: url(../images/9.png) no-repeat;
    background-size: cover;float: left;
    margin-top: 0.1rem;margin-left: 0.28rem;
 }
 .sj{
    width: 0.8rem;height: 0.12rem;
    font-size: 0.12rem;line-height: 0.12rem;
    color: #a4a1a1;float: left;
    margin-left: 0.06rem;margin-top: 0.21rem;
 }

 .maokuang{
    width: 100%;height: 3.08rem;float: left;
     margin-top: 0.28rem;margin-bottom: 0.1rem;
 }
 .mao{
    width: 2.14rem;height: 3.08rem;
   margin-left: 0.45rem;float: left;
    background: #ffffff;border-radius: 0.1rem;
    box-shadow: -0.03rem -0.03rem 0.05rem  0.05rem #e2e2e2;
 }
 .maotu{
    width: 1.79rem;height: 2.38rem;border-radius: 0.1rem;margin: 0 auto;
    margin-top: 0.03rem;border-left: 0.01rem solid #fff;
    border-right: 0.01rem solid #fff;border-top: 0.02rem solid #fff;
    border-bottom: 0.02rem solid #fff;
    background: url(../images/19.png) no-repeat;
    background-size: 2.09rem 2.78rem;margin-bottom: 0.04rem;
 }
 .renming{
    height: 0.22rem;text-align: center;margin: 0 auto;
    font-size: 0.22rem;color: #333333; 
 }
 .fanyi{
    height: 0.12rem;text-align: center;margin: 0 auto;
    font-size: 0.12rem;color: #999999;margin-top: 0.06rem; 
 }
 .mao2{
    width: 2.14rem;height: 3.08rem;float: left;
    box-shadow: -0.03rem -0.03rem 0.05rem  0.05rem #e2e2e2;
    background: #ffffff;border-radius: 0.1rem;
 }
 .maotu2{
    width: 1.79rem;height: 2.38rem;border-radius: 0.1rem;margin: 0 auto;
    margin-top: 0.03rem;border-left: 0.01rem solid #fff;
    border-right: 0.01rem solid #fff;border-top: 0.02rem solid #fff;
    border-bottom: 0.02rem solid #fff;
    background: url(../images/19.png) no-repeat;
    background-size: 2.09rem 2.78rem;margin-bottom: 0.04rem;
 }
 .renming2{
    height: 0.22rem;text-align: center;margin: 0 auto;
    font-size: 0.22rem;color: #333333; 
 }
 .fanyi2{
    height: 0.12rem;text-align: center;margin: 0 auto;
    font-size: 0.12rem;color: #999999; margin-top: 0.06rem;
 }

 .yindaoqiu{
    width: 0.47rem;height: 0.08rem;
    margin: 0 auto;margin-top: 0.21rem;margin-bottom: 5.55rem;
 }
 .yuan21{
    width: 0.08rem;height: 0.08rem;
    border-radius: 0.04rem;float: left;
    background: #3fabfe;border: 0.01rem solid #3fabfe;
 }
 .yuan22{
    width: 0.08rem;height: 0.08rem;
    border-radius: 0.04rem;float: left;
    border: 0.01rem solid #3fabfe;
    background: #fff;margin-left: 0.11rem;
 }
 .yuan23{
    width: 0.08rem;height: 0.08rem;
    border-radius: 0.04rem;float: right;
    border: 0.01rem solid #3fabfe;
    background: #fff;
